################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/TGAReader
*.sln
/.vs
*.vcxproj
/TGAReader/TGAReader.vcxproj.filters
/TGAReader/TGAReader.vcxproj.user
